/* reset default styles */
body, h1, h2, p{
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('background-image.jpg');
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-size:cover;
    background-position: center;
    color: #fff;
  }

  header{
    text-align:center;
    padding:20px;
  }

  header, h1{
    font-size:2em;
    margin-bottom:10px;
  }

  header img {
    width:150px;
    height:150px;
    border-radius:50%;
    margin-top:10px;
    border:3px solid hotpink;
  }

  main {
    max-width:800px;
    margin:0 auto;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius:11px;
    box-shadow: 0 0 11px rgba (0, 0, 0, 0.3);
  }

  section{
    margin-bottom: 21px;
  }

  h2{
    font-size:1.2em;
    line-height:1.5;
  }

  p{
    font-size: 1.3em;
    margin-bottom:11px;
  }

  /* styling the frontend track section differently*/
  section:last-child {
    background-color: rgba(255, 255, 255, 0.4);
    padding:16px;
    border-radius:6px;
    text-align:center;
  }

.center-container{
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin-top:20px;
    }

    .center-text{
        display:flex;
        justify-content:center ;
        color:hotpink;
    }

    .move-right{
        justify-content: center;
        display: flex;
    }

    .move-right1{
        justify-content: center;
        display: flex;
        margin-top: 8px;
    }

    button {
      background-color: rgb(212, 212, 212);
      color: rgb(60, 60, 60);
      padding: 0.5rem;
      border-radius: 5px;
      border: 0;
      transition: 150ms ease-in-out;
      margin-top: 50px;
      justify-content: center;
      margin: 50px;
    }
    
    button:hover {
      background-color: rgb(159, 159, 159);
      transition: 150ms ease-in-out;
    }

    .custom-link{
      color: red;
      
    }
.custom-link:hover{
  color: aqua;
}